<html>
    <head>
        <meta charset="utf-8">

        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">



        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <!-- jquery-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
        <!-- dselect for dropdowns that are a bit nicer https://github.com/jarstone/dselect -->
        <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
        <script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
        
        <!-- bootstrap slider for sliders with tooltip values https://github.com/seiyria/bootstrap-slider -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css">
        <link rel="stylesheet" href= "font/bootstrap-icons.css">

        <!-- JSPDF & HTML2Canvas for screenshot & pdf download-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js"></script>
        <script type="text/javascript" src="util/jszip.js" async></script>

        <title>Klaveness</title>
        <style>
         
            
            #threedwrapper{
                justify-content: center;
                align-items: center;
            } 
          
            #menuwrapper {
                background-color:rgb(255, 255, 255);
                justify-content: center;
                align-items: center;
                padding: 1rem;
                z-index: 100;

            }

            #logo{
               
            }

            #loader {
                border: 5px solid #f3f3f3; /* Light grey */
                border-top: 5px solid #3d3d3d; /* Grey */
                border-radius: 50%;
                width: 40px;
                height: 40px;
                animation: spin 1s linear infinite;
                position: absolute;
                top: 20%;
                left: 50%;
                z-index: 2;
            }

            .sliderlabels{
                font-size:small;
                
            }

            .slidervalues{ 
                font-size:small;
                
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }

            .slidercontrols{
                
                padding-left:5px;
                padding-right:15px;
            }
            
            .slider.slider-horizontal{
                width:100%;
            }

            .controlheader{
                padding:10;
                padding-left: 0;
                padding-right: 0;
                margin:0;
                text-align: center;
                font-size:1.25rem;
                font-weight:bolder;

                
            }
            .tab-content {
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                border-top: 1px solid #ddd;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                padding: 10px;
            }

            .nav-tabs {
                margin-bottom: 0;
                border-bottom: 0;
            }
            
            .slider-track {
                height:5px !important;
            }

            .slider-handle {
                height:15px;
                width:15px;
            }

            page {
            background: white;
            display: block;
            margin: 0 auto;
            padding: 50;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
            }
            
            page[size="A4"] {  
                width: 21cm;
                height: 29.7cm; 
            }

            .receipt-table {
                font-size : 10px;
            }

            
        </style>
    </head>
    
    <body>
     <page size="A4">
        <div class="container-fluid" id="main-wrapper">
            <div class="row controlheader">CMF customization</div>
            <div class="row h-20" id="threedwrapper" >
                <div id="loader"></div> 
           </div>
            <!-- seperator here-->

            <div class="row controlheader"></div><!-- Model-->
            <table class="table table-sm receipt-table">
                <thead>
                    <tr>
                      <th scope="col" style="width: 60%">Model</th>
                      <td style="width: 40%"></td>
                      
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                    <td>Last</td>
                    <td><div id ="customModelName"><%= customization[0].modelText %></div></td>
                    <td><div id="customModelID" hidden><%= customization[0].model %></div></td>
                  </tr>
                  <tr>
                    <td>Size</td>
                    <td><div id="customSizeName"><%= customization[0].sizeText %></div></td>
                    <td><div id="customSizeID" hidden><%= customization[0].size %></div></td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td><div id="customTypeName"><%= customization[0].typeText %></div></td>
                    <td><div id="customTypeID" hidden><%= customization[0].type %></div></td>
                  </tr>
                </tbody>
              </table>
            
            <div class="row controlheader"></div><!--Adjustment parameters-->
            <table class="table table-sm receipt-table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 60%">Profile</th>
                    <td style="width: 20%">Left</td>
                    <td style="width: 20%">Right</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Toe Thickness</td>
                    <td><div id="customToeThicknessLeft" style="display: inline-block"><%= customization[0].LeftToeThickness %></div> mm</td>
                    <td><div id="customToeThicknessRight" style="display: inline-block"><%= customization[0].RightToeThickness %></div> mm</td>
                  </tr>
                  <tr>
                    <td>Heel Thickness</td>
                    <td><div id="customHeelThicknessLeft" style="display: inline-block"><%= customization[0].LeftHeelThickness %></div> mm</td>
                    <td><div id="customHeelThicknessRight" style="display: inline-block"><%= customization[0].RightHeelThickness %></div> mm</td>
                  </tr>
                  <tr>
                    <td>Arch Height</td>
                    <td><div id="customArchHeightLeft" style="display: inline-block"><%= customization[0].LeftArchHeight %></div> mm</td>
                    <td><div id="customArchHeightRight" style="display: inline-block"><%= customization[0].RightArchHeight %></div> mm</td>
                  </tr>
                </tbody>
              </table>

            <table class="table table-sm receipt-table">
            <thead>
                <tr>
                  <th scope="col" style="width: 60%">Wedge</th>
                  <td style="width: 20%">Left</td>
                  <td style="width: 20%">Right</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Toe Medial / Lateral</td>
                  <td><div id="customWedgeToeLeft" style="display: inline-block"><%= customization[0].LeftToeWedge %></div> mm</td>
                  <td><div id="customWedgeToeRight" style="display: inline-block"><%= customization[0].RightToeWedge %></div> mm</td>
                </tr>
                <tr>
                  <td>Heel Medial / Lateral</td>
                  <td><div id="customWedgeHeelLeft" style="display: inline-block"><%= customization[0].LeftHeelWedge %></div> mm</td>
                  <td><div id="customWedgeHeelRight" style="display: inline-block"><%= customization[0].RightHeelWedge %></div> mm</td>
                </tr>
            </tbody>
            </table>

            <table class="table table-sm receipt-table">
            <thead>
                <tr>
                <th scope="col" style="width: 60%">Pad</th>
                <td style="width: 20%">Left</td>
                <td style="width: 20%">Right</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Adjust height</td>
                  <td><div id="customPadHeightLeft" style="display: inline-block"><%= customization[0].LeftPadAdjHeight %></div> mm</td>
                  <td><div id="customPadHeightRight" style="display: inline-block"><%= customization[0].RightPadAdjHeight %></div> mm</td>
                </tr>
                <tr>
                <td>Adjust width</td>
                  <td><div id="customPadWidthLeft" style="display: inline-block"><%= customization[0].LeftPadAdjWidth %></div> mm</td>
                  <td><div id="customPadWidthRight" style="display: inline-block"><%= customization[0].RightPadAdjWidth %></div> mm</td>
                </tr>
                <tr>
                <td>Move anterior</td>
                <td><div id="customPadMoveAntLeft" style="display: inline-block"><%= customization[0].LeftPadMoveFwd %></div> mm</td>
                <td><div id="customPadMoveAntRight" style="display: inline-block"><%= customization[0].RightPadMoveFwd %></div> mm</td>
                </tr>
                <tr>
                <td>Move medial / Lateral</td>
                <td><div id="customPadMoveMedLeft" style="display: inline-block"><%= customization[0].LeftPadMoveSideways %></div> mm</td>
                <td><div id="customPadMoveMedRight" style="display: inline-block"><%= customization[0].RightPadMoveSideways %></div> mm</td>
                </tr>
            </tbody>
            </table>

            <table class="table table-sm receipt-table">
                <thead>
                    <tr>
                      <th scope="col" style="width: 60%">Client details</th>
                      <td style="width: 40%"></td>
                      
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                    <td>Reference</td>
                    <td><%= customization[0].clientRef %></td>
                  </tr>
                  <tr>
                    <td>Comments</td>
                    <td><%= customization[0].clientComments %></td>
                  </tr>
              
                </tbody>
              </table>
            
        </div>  
    </page>


        <script type="module" src="scriptCMFReceipt.js" async></script>
        

    </body>

</html>
